<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add Contact
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form (submit)="onAddContact(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Email" type="email" name="email" class="email" required email ngModel>
    </mat-form-field>
    <button name="search" mat-raised-button class="search" [disabled]="loginForm.invalid"
      (click)="buttonClicked = 'search'" type="submit">Search</button>
    <button name="add" mat-raised-button color="primary" [disabled]="!found" (click)="buttonClicked = 'add'"
      type="submit" class="contact">Add Contact</button>
  </form>
  <div *ngIf="found" class="contactFound">
    <ul>
      <li>
        {{contact.email}}
      </li>
      <img class="profilePic" [src]="contact.imagePath" [alt]="contact.username">
    </ul>
  </div>
</mat-expansion-panel>

<div class="container">
  <aside>
    <mat-card *ngFor="let contact of contacts; let i = index">
      <img [src]="contact.imagePath" alt="" style="height: 40px; width: 40px">
      <p class="friend">{{contact.email}}</p>
      <button class="status" mat-fab *ngIf="contact.status === 'Pending'">Pending</button>
      <button class="status" mat-fab color="accent" *ngIf="contact.status === 'Invited'"
        (click)="onAccept(i)">Accept</button>
      <button class="status" mat-mini-fab color="primary" *ngIf="contact.status === 'Accepted'"
        (click)="onChat(i)">Chat</button>

    </mat-card>
  </aside>
  <main>
    <div class="messages">
      <ul *ngFor="let message of messages">
        <li *ngIf="this.user.id === message._id" class="sender">
          {{message.message}}
        </li>
        <li *ngIf="this.user.id !== message._id" class="receiver">
          {{message.message}}
        </li>
      </ul>
    </div>
    <mat-card>
      <form (submit)="sendMessage(messageForm)" #messageForm="ngForm">
        <mat-form-field>
          <input matInput type="text" autocomplete="off" class="writingMessage" name="message" required ngModel>
        </mat-form-field>
        <button mat-raised-button class="sendBtn" type="submit" [disabled]="messageForm.invalid || conversationId === ''">Send</button>
      </form>
    </mat-card>
  </main>
</div>

<router-outlet></router-outlet>